.button {
    -fx-padding: 3 3;
    -fx-background-radius: 8;
    -fx-font-size:16;
    -fx-text-fill:#999999;

    -fx-font-family: STSong;
}

.color-picker {
    -fx-background-radius: 10;
}

.label {
    -fx-font-size:14;
    -fx-text-fill:#999999;
    -fx-font-family: STSong;
}

.menu-bar {
    -fx-font-size:25;
    -fx-text-fill:#999999;
}

.tool-bar {
    /*-fx-font-size:25;*/
    -fx-text-fill:#999999;
}